<p><%= "#{session[:login_uid]}はログイン中です"%></p>

<%= link_to 'ログアウト','../top/logout' %>
<p><%= link_to'ツイート','../tweets/new' %></p>

<% @tweets.each do |e| %>
<hr>
<p>
    <%= e.message %>
    <%= link_to 'いいね',likes_path(tweet_id: e.id), method: :post %>
    <%= link_to 'いいね削除',like_path(e),method: :delete %>
</p>
<hr>
<% end %>