<%= form_tag @user , url:{action: :create} do |f| %>
 <p>ユーザー登録</p>
 <%= label_tag :uid, 'ユーザー名' %>
 <%= text_field_tag :uid %>
 <%= label_tag :pass, 'パスワード'%>
 <%= password_field_tag :pass %>
 <%= submit_tag 'サインアップ' %>
<% end %>